################################################################################
# VISUAL STUDIO
################################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# .NET BUILD
################################################################################

bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
out/

# Arquivos gerados automaticamente pelo MSBuild
*.AssemblyInfo.cs
*.cache
*.config*
*.pdb
*.dll
*.exe

################################################################################
# PACOTES / DEPENDÊNCIAS
################################################################################

*.nupkg
*.nupkg.sha512
packages/
.nuget/
*.snk

################################################################################
# CONFIGS LOCAIS / SEGREDOS
################################################################################

#appsettings.json
#appsettings.Development.json
#appsettings.*.json

secrets.json

################################################################################
# OUTROS
################################################################################

*.log
*.db
*.db-wal
*.db-journal
*.sqlite
*.sqlite3

